/tests              export-ignore
/phpdocs            export-ignore
/examples           export-ignore
.github             export-ignore
.styleci.yml        export-ignore
phpunit.xml         export-ignore
README.rst          export-ignore
CODE_OF_CONDUCT.rst export-ignore
CHANGELOG.rst       export-ignore
